.billing-form {
  @media (min-width: $desktophd-width) {
    margin-left: 220px;
  }
}

.billing-form__title {
  margin-left: 80px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

.billing-form__block {
  margin: 33px 0 44px 80px;
  border: none;
  padding: 0;
}


.billing-form__pay-label {
  padding-left: 32px;
  position: relative;
  cursor: pointer;

  &--card {
    margin-right: 79px;
    padding-left: 27px;
  }
  
  &--info {
    padding-left: 26px;
  }
  
}

.billing-form__pay-img {
  position: relative;
  height: 23px;
  width: 85px;
  top: 7px;
}

.billing-form__card-block {
  width: 480px;
  height: 258px;
  margin-left: 50px;
  margin-bottom: 41px;
  padding: 17px 28px 21px 30px;
  border: 1px solid $gray-light;
  border-radius: 5px;
  box-shadow: 0 0 32px 0 $gray-shadow;
}

.billing-form__card-first {
  margin-bottom: 23px;
}

.billing-form__card-nth {
  margin-bottom: 21px;
}

.billing-form__card-list {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: -3px;
}

.billing-form__item {
  @include input;
  
  &::placeholder {
   color: $gray-text;
   line-height: 24px;
 }
  
  &--name {
    width: 490px;
  }
  
  &--number,
  &--date,
  &--code {
    width: 100px;
  }
  
  &--date {
    margin-right: 27px;
  }
}

.billing-form__card-label {
  font-size: 12px;
  line-height: 24px;
  color: $gray-label;
  
  &--date {
    margin-right: 66px;
  }
}

.billing-form__check {
  margin-left: 80px;
}

.billing-form__button-back {
  display: inline-block;
  min-width: 91px;
  height: 40px;
  border: 1px solid $gray-light;
  border-radius: 3px;
  padding: 11px 30px;
  box-sizing: border-box;
  margin-left: 80px;
  margin-right: 387px;
  margin-top: 27px;
  
  @media( min-width: $desktop-width) {
    margin-right: 409px;
  }
}

.billing-form__pay + label::before {
  @include checkbox;
  width: 16px;
  height: 15px;
  border-radius: 50%;
}

.billing-form__pay:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 4px;
  width: 8px;
  height: 8px;
  background-color: $blue;
  cursor: pointer;
  border-radius: 50%;
} 

.billing-form__card-last {
  position: relative;
}

.billing-form__card-cvv {
  margin-top: 0;
}

.billing-form__note {
  position: absolute;
  width: 13px;
  height: 13px;
  background: $gray-ellipse;
  border-radius: 50%;
  left: 187px;
  top: 5px;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.2px;
  color: $black-basic;
  border: none;
  padding: 0 2px;
  cursor: pointer;
}

.billing-form__save + label::before,
.billing-form__accept + label::before {
  @include checkbox;
  width: 16px;
  height: 16px;
  top: -1px;
}

.billing-form__save:checked + label::after,
.billing-form__accept:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 4px;
  width: 8px;
  height: 8px;
  background-color: $blue;
  cursor: pointer;
}

.billing-form__pay-label--grey,
.billing-form__pay-label--info span {
  color: $gray-label;
}
