.breadcrumb {
  list-style: none;
  margin: 87px 62px 59px 62px;
  padding: 0;
  display: flex;
  counter-reset: myCounter;
  
  @media (min-width: $desktop-width) {
    width: 60%;
    margin: 87px 0 60px 63px;
  } 
}

.breadcrumb__item {
  margin: 0;
  padding: 0;
  position: relative;
  
  &::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    position: absolute;
    top: -28px;
    left: 17px;
    width: 15px;
    height: 14px;
    background-color: $blue;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    color: $white-basic;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    padding: 2px;
  }
  
  &::after {
    content: "";
    position: absolute;
    width: 161px;
    height: 1px;
    background-color: $blue;
    top: -19px;
    left: 36px; 
  }
  

  
  &:first-child {
    margin-right: 126px;
    
    @media (min-width: $desktop-width) {
      margin-right: 136px;
      
      &::after {
        width: 169px;
      }
    }
    
    @media (min-width: $desktophd-width) {
      margin-right: 301px;
      
      &::after {
        width: 333px;
      }
    }
    
  }
  
  &:nth-child(2) {
    margin-right: 159px;
    
    &::before {
      top: -28px;
      left: 19px;
      
      @media (min-width: $desktop-width) {
        left: 17px;
      }
    }
    
    &::after {
      top: -19px;
      left: 37px; 
      width: 185px;
    }
    
    @media (min-width: $desktophd-width) {
      margin-right: 299px;
      
      &::after {
        width: 327px;
      }
    }
  }
  
  &:nth-child(3) {
    margin-right: 166px;
    
    &::before {
      top: -29px;
      left: 9px;
    }
    
    @media (min-width: $desktop-width) {
      margin-right: 177px;
      
      &::after {
        width: 200px;
      }
    }
    
    @media (min-width: $desktophd-width) {
      margin-right: 312px;
      
      &::after {
        width: 334px;
      }
    }  
  }
  
  &:last-child {
    margin-right: 0;
    
    &::before {
      top: -29px;
      left: 12px;
    }
    
    &::after {
      display: none;
    }
  }
}

.breadcrumb__item--active::before {
  color: $black-basic;
  background-color: inherit;
  border: 1px solid $blue;
  width: 14px;
  height: 14px;
}

.breadcrumb__item--active::after {
  top: -19px;
  left: 27px; 
  width: 189px;
  background-color: $gray-breadcrumb;
}

.breadcrumb__item--disabled::before {
  color: $gray-breadcrumb;
  background-color: inherit;
  border: 1px solid $gray-breadcrumb;
  width: 14px;
  height: 14px;
}