.item {
  margin-top: 31px;
  margin-bottom: 39px;
  position: relative;
}

.item__form {
  display: grid;
  grid-template-columns: 100px 83px auto;
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 12px;
  width: 330px;
  align-items: start;
}

.item__img {
  grid-row: -1/1;
  grid-column: 1;
}

.item__description {
  grid-column: 2/4;
  grid-row: 1;
  margin: 0;
}

.item__quantity {
  display: flex;
  justify-content: space-between;
  padding-top: 13px; 
}

.item__button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: inherit;
  cursor: pointer;
  border: 1px solid $black-basic;
  padding: 0;
  font-size: 18px;
}

.item__number {
  border: none;
  width: 8px;
  height: 16px;
}

.item__toggle {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.item--opened .item__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -3px;
    width: 26px;
    height: 2px;
    background-color: $gray-light
  }
}

.item--opened .item__toggle::before {
  transform: rotate(45deg);
}

.item--opened .item__toggle::after {
  transform: rotate(-45deg);
}

.item__price {
  padding-left: 12px;
  padding-top: 13px; 
}