.navigation {
  position: relative;
  cursor: pointer;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  
  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    min-width: 393px;
    padding-top: 5px;
  }
}

@media (max-width: $tablet-width) {
  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--opened .navigation__list {
    display: flex;;
    position: absolute;
    top: 50px;
    left: -50px;
    min-width: 427px;
    justify-content: space-between;
  }
  
  .navigation--nojs .navigation__toggle {
    display: none;
  }
}

.navigation__toggle {
  position: absolute;
  left: 343px;
  top: 0;
  width: 38px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
  
  @media (min-width: 769px) {
    display: none;
  }
}

.navigation--closed .navigation__toggle:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;
  width: 30px;
  height: 2px;
  background-color: $black-basic;
  box-shadow: 0 10px 0 0 $black-basic, 0 20px 0 0 $black-basic;
}

.navigation--opened .navigation__toggle {
  margin-left: 17px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: -11px;
    width: 30px;
    height: 2px;
    background-color: $black-basic;
  }

  @media (min-width: 769px) {
    display: none;
  }
}

.navigation--opened .navigation__toggle::before {
  transform: rotate(45deg);
}

.navigation--opened .navigation__toggle::after {
  transform: rotate(-45deg);
}

.navigation--nojs .navigation__toggle {
  display: none;
}


.navigation__item {
  padding: 0;
  margin: 0;

  @media (min-width: 769px) {
    margin-right: 20px;
    
    &:last-child {
      margin-right: 0;
    }
  }
}
