.search__form {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.search__request { 
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translate(0, -50%);
  height: 32px;
  background-color: $gray-background;
  border-radius: 3px;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  display: none;
  width: 250px;
}

.search__toggle:hover ~ .search__request {
  display: block;
}

.search__toggle:focus ~ .search__request {
  display: block;
}

.search__request:hover,
.search__request:focus {
  display: block;
  outline: none;
}

.search__toggle {
  z-index: 10;
  background-color: inherit;
  border: none;
  cursor: pointer;
  
  svg {
    padding-top: 3px;
    width: 29px;
    height: 27px;
  }
}

.search__form:hover svg {
  transform: scale(0.7);
}



