.total-table {
  width: 318px;
  margin-top: 37px;
}

.total-table td,
.total-table th {
  line-height: 30px;
}

.total-table th {
  font-size: 18px;
}

.total-table td:first-child,
.total-table th:first-child {
  text-align: left;
}

.total-table td:last-child,
.total-table th:last-child {
  text-align: right;
}