.button {
  padding: 15px 27px;
  color: $white-basic;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: $color-title;
  
  @media (min-width: $desktop-width) {
    padding: 14px 26px 14px;
  }
  
}