// Colors
$color-basic: #111111;
$black-basic: #000000;
$white-basic: #ffffff;
$blue: #3366ff;
$gray: #383736;
$gray-light: #cfcfcf;
$gray-shadow: rgba(0, 0, 0, 0.19);
$gray-text: #8e90a6;
$gray-background: #ededf1;
$gray-breadcrumb: #d5d5d5;
$gray-label: #8c8c8c;
$gray-ellipse:   #dbdbdb;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$desktophd-width: 1640px;

//Mixin

@mixin input {
  height: 40px;
  background-color: $gray-background;
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

@mixin checkbox {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid $gray-light;
  cursor: pointer;
}
